{% extends 'default.html.twig' %}

{% block menu %}
    <li class="nav-item active"><a class="nav-link" href="{{ path('medewerker_homepage') }}">home</a></li>
    <li class="nav-item"><a class="nav-link" href="{{ path('medewerker_medicijnen') }}">medicijnen</a></li>


    <li class="nav-item"><a class="nav-link" href="#">contact</a></li>
{% endblock %}

{% block menu_right %}
    <li class="nav-item "><a class="nav-link" href="{{ path('app_logout') }}">uitloggen</a></li>
{% endblock %}

{% block content %}

    <h4>HealthOne Medical Website</h4>

    Welkom je bent nu ingelogd als verzekeringsmedewerker. Je kan de medicijnentabel nu volledig aanpassen, uiteraard
    in overleg met de dokter en de apothekers.

    Uiteraard gaat dit na de testfase veranderen!

{% endblock %}
